<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="System_Engineer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <System_Engineer.Properties.Settings>
            <setting name="nt_b" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nt_b_Copy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nt_b_Copy1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nt_b_Copy2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nt_b_Copy3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nt_b_Copy4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nt_b_Copy5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nt_b_Copy6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nt_b_Copy7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pt_b_Copy17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wt_b_Copy18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy19" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy21" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy23" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy24" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st_b_Copy25" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="at_b" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="at_b1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="at_b2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="at_b3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="at_b4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="at_b5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="at_b6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt_b_Copy18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usbLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck1_st" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck2_st" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck3_st" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck4_st" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck5_st" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck6_st" serializeAs="String">
                <value>False</value>
            </setting>
        </System_Engineer.Properties.Settings>
    </userSettings>
</configuration>